.area{
    margin: 0 0 30px 0;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.05);
    width: 100%;
    overflow: hidden;
    position: relative;
}

.area__name{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    outline: none;
    padding: 0 25px;
    margin-bottom: 30px;
    background-color: rgba(0,0,0,0.6);
    color: rgb(240, 240, 240);
    border-bottom: 1px solid rgba(0,0,0,0.7);
    box-sizing: border-box;
}
.area__name:empty:before {
    content: attr(placeholder);
    color:rgb(200, 200, 200);
    cursor: text;
}

.area__delete{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: rgb(240, 240, 240);
    user-select: none;
}

.area__results{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid rgba(0,0,0,0.7);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end; 
}

.area__results__el{
    width: 200px;
    text-align: center;
}


.area-add{
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.1);
    font-size: 20px; 
    text-align: center;
    cursor: pointer;
    line-height: 100px;
    border-radius: 5px;
    margin-bottom: 30px;
    user-select: none;
    transition: .05s;
    transition-property: transform;
}
.area-add:active{
    transform: scale(0.98);
}