.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    display: none;
    top: 0;
    left: 0;
}

.popup::-webkit-scrollbar{
    background-color: rgba(80,80,80);
}
.popup::-webkit-scrollbar-thumb{
    border: 4px solid rgb(80,80,80);
    background-color: rgba(40,40,40);
}

.brigade{
    width: 1024px;
    border-radius: 5px;
    background-color: rgb(237, 238, 240);
    padding: 25px;
    margin: 30px auto 200px auto;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.brigade__menu{
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    position: relative;
}

.brigade__menu__name{
    text-align: center;
    margin: auto;
    width: 100px;
    color: rgb(74, 118, 168);
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}

.brigade__menu__close{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    color: rgb(74, 118, 168);
}
.brigade__menu__close:hover{
    color: rgb(72, 114, 163);
}

.brigade__members{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.brigade__members__el, .brigade__members__add{
    height: 32px;
    box-sizing: border-box;
    margin: 9px 20px 9px 0;
    border-radius: 5px;
    border-bottom: 2px solid rgb(180, 180, 180);
    line-height: 30px;
    background-color: rgb(245,245,245);
}
.brigade__members__add{
    font-size: 20px;
    color: rgb(74, 118, 168);
    user-select: none;
}
.brigades-list__el:active, .brigade__members__add:active{
    transform: scale(0.98);
}

.brigade__members__el__name{
    padding: 0 0 0 10px;
    cursor: pointer;
}
.brigade__members__el__delete{
    padding: 0 10px 0 5px;
    cursor: pointer;
    user-select: none;
}

.brigade__members__add{
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.brigade__members__el__input{
    min-width: 100px;
    display: inline-block;
    outline: none;
    padding: 0 0 0 10px;
}
.brigade__members__el__input:empty::before {
    content: attr(placeholder);
    color: #555;
    cursor: text;
}
.brigade__members__el__input:empty:focus::before {
    content: "";
}
.brigade__results__row{
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
    line-height: 30px;
}
.brigade__results__row:first-child{
    border-top: 1px solid rgb(72, 114, 163);
    margin-top: 20px;
    padding-top: 20px;
}
.brigade__results__row__el{
    width: 150px;
}

