.brigades-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.brigades-list__el{
    position: relative;
    width: 236px;
    height: 300px;
    border-bottom: 2px solid rgb(180, 180, 180);
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    cursor: pointer;
    transition: .05s;
    transition-property: transform;
    margin-bottom: 30px;
    user-select: none;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}
.brigades-list__el:active{
    transform: scale(0.98);
}

.brigades-list__el__caption{
    text-align: center;
    line-height: 50px;
    background-color: rgb(74, 118, 168);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgb(240,240,240);
    border-bottom: 1px solid rgb(72, 114, 163);
}

.brigades-list__el__delete{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgb(240,240,240);
    cursor: pointer;
    top: 0;
    right: 0;
    position: absolute;
}

.brigades-list__el-add{
    font-size: 17px;
    line-height: 300px;
    text-align: center;
    color: rgb(74, 118, 168);
    font-size: 29px;
}

.brigades-list__el__result{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.brigades-list__el__result__row{
    height: 50px;
    line-height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.brigades-list__el__result__row:last-child{
    background-color: rgb(240, 240, 240);
}

.brigades-list__el__result__el{
    width: 50%;
}
.brigades-list__el__result__el__sum{
    color: rgb(25,25,112);
}
.brigades-list__el__result__el__hours{
    color: rgb(34,139,34);
}

.brigades-list__el__members__list__ol__li__noname{
    color: rgb(180, 180, 180);
}

.brigades-list__el__members{
    padding: 15px;
}
.brigades-list__el__members__list{
    max-height: 100px;
    overflow: auto;
}
.brigades-list__el__members__list__ol{
    padding-left: 30px;
    margin: 0px;
}
.brigades-list__el__members__count{
    margin-bottom: 15px;
}