.brigades-result{
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-top: 1px solid rgb(72, 114, 163);
    margin-bottom: 100px;
}

.brigades-result__el{
    width: 33%;
    padding-top: 30px;
}
.brigades-result__caption{
    color: rgb(178,34,34);
}
.brigades-result__sum{
    color: rgb(25,25,112);
}
.brigades-result__hours{
    color: rgb(34,139,34);
}