.footer{
    width: 100%;
    background-color: rgb(74, 118, 168);
    border-top: 1px solid rgb(72, 114, 163);
    height: 135px;
}

.footer__content{
    width: 1024px;
    margin: auto;
}

.footer__content__link{
    text-decoration: none;
    color: rgb(240,240,240);
    float: left;
}
.footer__content__link__logo{
    width: 300px;
    height: 100px;
    background-image: url(../images/mmz_avangard.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    margin: 20px 0 15px 0;
    text-align: right;
    display: flex;
    align-items: center;
}
.footer__content__link__logo__caption{
    width: 100%;
    font-size: 19px;
}

.footer__content__description{
    float: right;
    height: 100px;
    margin: 20px 0 15px 50px;
    display: flex;
    align-items: center;
    font-size: 19px;
}
.footer__content__description__link:first-child{
    border-left: none;
}
.footer__content__description__link{
    text-decoration: none;
    color: rgb(240,240,240);
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgb(240, 240, 240);
}