.decorative-loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(237, 238, 240);
    color: #282828;
    z-index: 1000;
    display: flex;
    align-items: center;
}
.decorative-loader__svg{
    margin: auto;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 21px;
    line-height: 40px;
}