body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    color: rgb(40, 40, 40);
    background-color: rgb(237, 238, 240);
}

/* Стили скрола */
*::-webkit-scrollbar{
    width: 14px;
    height: 14px;
    background-color: rgb(237, 238, 240); 
}
*::-webkit-scrollbar-thumb{
    border-radius: 7px;
    border: 4px solid rgb(237, 238, 240);
    background-color: rgba(80,80,80);
}

.no-scroll{
    overflow-y: hidden;
}

.scroll{
    overflow: auto;
}

.page{
    width: 1024px;
    min-height: 800px;
    margin: auto;
    position: relative;
    margin-top: 30px;
}