.menu{
    width: 100%;
    height: 50px;
    background-color: rgb(74, 118, 168);
    border-bottom: 1px solid rgb(72, 114, 163);
    color: rgb(240, 240, 240);
    line-height: 50px;
}

.menu__container{
    font-size: 0px;
    width: 1024px;
    margin: auto;
}

.menu__container__el{
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    transition: .3s color;
}
.menu__container__el:hover{
    color: rgb(230, 230, 230);
}
.menu__container__el__right{
    float: right;
    margin-right: 0px;
    margin-left: 20px;
}
.menu__container__el__file-label{
    display: inline-block;
    cursor: pointer;
}
.menu__container__el__file-input{
    display: none;
}

.date-selector__input{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(240, 240, 240);
    height: 50px;
    font-size: 16px;
    width: 82px;
    text-align: center;
    padding: 0;
    cursor: pointer;
}