.outfit{
    width: 100%;
    box-sizing: border-box;
}

.outfit__captions{
    font-size: 17px;
}

.outfit__captions__els{
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.outfit__captions__els__el{
    width: 150px;
    text-align: center;
}
.outfit__captions__els__el__about{
    font-size: 12px;
}
.outfit__captions__title{
    text-align: center;
    line-height: 30px;
}
.outfit__captions__sum{
    width: 100%;
    box-sizing: border-box;
    line-height: 30px;
    text-align: right;
    padding-right: 130px;
    color: rgb(178,34,34);
}
.outfit__captions__sum-money{
    color: rgb(25,25,112);
}
.outfit__captions__sum-time{
    color: rgb(34,139,34);
}
.outfit__captions__delete, .outfit__captions__add{
    width: 32px;
}

.outfit__rows__row{
    display: flex;
    flex-wrap: nowrap;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.outfit__rows__row:first-child{
    margin-top: 15px;
}
.outfit__rows__row__el{
    width: 150px;
    text-align: center;
}
.outfit__rows__row__el__input{
    width: 100%;
    text-align: center;
    font-family: Tahoma;
    font-size: 15px;
}
.outfit__rows__row__el-add, .outfit__rows__row__el-delete{
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom: 2px solid rgb(180, 180, 180);
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: rgb(245,245,245);
    user-select: none;
}
.outfit__rows__row__el-add:active, .outfit__rows__row__el-delete:active{
    transform: scale(0.98);
}
.outfit__rows__row__el-add{
    font-size: 20px;
    color: rgb(74, 118, 168);
}
.outfit__rows__row__el-delete{
    color: rgb(178,34,34);
}