.result__area{
    margin-bottom: 30px;
}
.result__area__name{
    font-size: 15px;
    line-height: 40px;
    border-bottom: 1px solid rgb(40, 40, 40);
    text-transform: uppercase;
}
.result__area__name__sum{
    color: rgb(25,25,112);
}
.result__area__name__time{
    color: rgb(34,139,34);
}
.result__area__worker{
    line-height: 40px;
}
.result__area__worker:hover{
    background-color: rgb(230, 230, 250);
}