.selector{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: rgb(245,245,245);
    border-radius: 5px;
    overflow: auto;
    z-index: 1000;
    display: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    margin-top: 20px;
    top: 0;
    left: 0;
}

.selector::-webkit-scrollbar{
    background-color: rgb(245,245,245); 
}

.selector__menu{
    width: calc(100% - 50px);
    height: 50px;
    border-bottom: 1px solid rgb(72, 114, 163);
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
}
.selector__menu::-webkit-scrollbar{
    height: 9px;
    background-color: rgb(245,245,245);
}
.selector__menu::-webkit-scrollbar-thumb{
    border: 4px solid rgb(245,245,245);
    background-color: rgba(40, 40, 40);
}

.selector__menu__el{
    line-height: 50px;
    cursor: pointer;
    user-select: none;
    padding: 0 10px;
    display: inline-block;
}
.selector__menu__el:first-child{
    padding-left: 20px;
}
.selector__menu__el:last-child{
    padding-right: 20px;
}
.selector__menu__el.active{
    color: rgb(74, 118, 168);
    text-decoration: none;
}

.selector__close{
    width: 50px;
    height: 50px;
    color: rgb(74, 118, 168);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    user-select: none;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid rgb(72, 114, 163);
    box-sizing: border-box;
}

.selector__content{
    height: 350px;
    overflow: auto;
}

.selector__content::-webkit-scrollbar{
    background-color: rgb(245,245,245); 
}
.selector__content::-webkit-scrollbar-thumb{
    border-color: rgb(245,245,245);
}

.selector__content__el, .selector__content__el-disable{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    box-sizing: border-box;
    transition: .3s;
    transition-property: background-color color;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.selector__content__el:hover, .selector__content__el.active{
    color: rgb(72, 114, 163);
    background-color:rgb(240, 240, 240);
}

.selector__content__el-disable{
    cursor: not-allowed;
 background-color: rgb(250, 230, 230);
}