.datepicker--day-name,
.datepicker--cell-day.-current-,
.datepicker--cell-month.-current-,
.datepicker--cell-year.-current-{
    color: rgb(74, 118, 168);
}

.datepicker--cell-year.-current-.-selected-,
.datepicker--cell-year.-selected-,
.datepicker--cell-year.-selected-:hover,
.datepicker--cell-month.-current-.-selected-,
.datepicker--cell-month.-selected-,
.datepicker--cell-month.-selected-:hover,
.datepicker--cell-day.-selected-.-current-,
.datepicker--cell-day.-selected-,
.datepicker--cell-day.-selected-:hover{
    background-color: rgb(74, 118, 168);
}